<!-- Windows Backup Powershell Script with GUI
Author Joshua Button - U1628860 - www.JoshuaButton.co.uk 
Co-Author Bartosz Stasik - U1730148
-->
<Backup>
  <Documents>
    <toBackup>False</toBackup>
  </Documents>
  <Music>
    <toBackup>False</toBackup>
  </Music>
  <Pictures>
    <toBackup>True</toBackup>
  </Pictures>
  <Videos>
    <toBackup>False</toBackup>
  </Videos>
  <Desktop>
    <toBackup>False</toBackup>
  </Desktop>
  <CustomFolder1>
    <toBackup>False</toBackup>
    <path>D:\</path>
  </CustomFolder1>
  <CustomFolder2>
    <toBackup>True</toBackup>
    <path>C:\Windows\Boot\PCAT\en-US</path>
  </CustomFolder2>
  <BackupLocation>D:\</BackupLocation>
</Backup>